.left {
    color: burlywood;
    font-style: italic;
    font-weight: bold;
}

.right {
    color: gray;
}

.left, .right, .dash {
    font-size: 2em;
}

.header {
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}